.content {
	padding: 1.5rem;
	display: flex;
	justify-content: space-between;
	background-color: red;
	
	.logo {
		color: blue;
		text-decoration: none;
	}

	.burger {
		background-color: blue;
		width: 2em;
		height: 2em;
	}
}