@import "@components/variables";

.container {
	display: flex;
	justify-content: center;
	padding-inline: 2rem;
	height: 75vh;
}

.content {
	max-width: $responsibilityBreakpoint;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1.2rem;
}