@import "@components/variables";

.container {
	.link {
		font-family: "Roboto", sans-serif;
	}
}

@media(min-width: $responsibilityBreakpoint) {
	.container {
		display: flex;
		align-items: center;
		height: 100%;
		
		.content {
			display: flex;
			gap: 2.5rem;
		}
		
		.link {
			font-size: 1.1em;
			font-weight: 400;
			transition: .1s;
			
			p {
				color: rgba(250, 250, 250, 1);
			}
			
			&:hover {
				text-decoration: underline;
				opacity: .8;
				scale: .95
			}
		}
	}
}

@media(max-width: $responsibilityBreakpoint) {
	.container {
		z-index: -1;
		padding-top: 6rem;
		position: fixed;
		top: 0;
		right: -100%;
		transition: .5s;
		background-color: rgba(11, 5, 21, .8);
		backdrop-filter: blur(1px);
		height: 100vh;
		
		.content {
			scale: .5;
			transition: .5s;
		}
		
		p {
			padding: 1.5rem 4rem;
			font-size: 2.2em;
			transition: .2s;
			
			&:active {
				scale: .95;
				opacity: .7;
			}
		}
		
		&Active {
			right: 0;
			
			.content {
				scale: 1;
			}
		}
	}
}