@import "@components/variables";

.container {
	.link {
		font-family: $description-font;
	}
}

@media(min-width: $responsibilityBreakpoint) {
	.container {
		display: flex;
		align-items: center;
		height: 100%;
		
		.content {
			display: flex;
			gap: 2.5rem;
		}
		
		.link {
			font-size: 1.1em;
			font-weight: 400;
			transition: .15s;
			position: relative;
			
			p {
				color: rgba(250, 250, 250, 1);
			}

			&::after {
				content: "";
				display: block;
				position: absolute;
				bottom: -10;
				height: 1px;
				width: 100%;
				transition: .15s;
				scale: 0 1;
				background-color: #ffffff;
			}
			
			&:hover {
				opacity: .8;
				scale: .975;

				&::after {
					scale: 1;
				}
			}
		}
	}
}

@media(max-width: $responsibilityBreakpoint) {
	.container {
		z-index: -1;
		padding-top: 6rem;
		position: fixed;
		top: 0;
		right: -100%;
		transition: .5s;
		background-color: rgba(11, 5, 21, .9);
		height: 100vh;
		
		.content {
			scale: .5 1;
			transition: .5s;
		}
		
		p {
			padding: 1.5rem 4rem;
			font-size: 2em;
			transition: .2s;
			
			&:active {
				scale: .95;
				opacity: .7;
			}
		}
		
		&Active {
			right: 0;
			
			.content {
				scale: 1;
			}
		}
	}
}