@import "@components/variables";

*, *::after, *::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	background-color: $background;
}

input, textarea {
	font: inherit;
}

h1, h2, h3, h4, h5, h6, a, p, li, label, span, textarea, input, img {
	color: white;
	line-height: 1.2;
	vertical-align: baseline;
}

a {
	overflow-wrap: break-word;
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
}

ul { 
	list-style-type: none;
}

img {
	line-height: 1
}

:root {
	color-scheme: light only;
}

::selection {
	color: black;
	background-color: rgba(240, 87, 255, .9);
}

@media(min-width: $responsibilityBreakpoint) {
	.burger {
		display: none;
	}
}