@use "@components/variables" as vars;

.section {
	display: flex;
	flex-direction: column;
	gap: 1.85rem;
}

.sectionHeader {
	display: flex;
}

.sectionTitle {
	flex-shrink: 0;
	margin-right: 1em;
	font-family: vars.$button-font;
}

.projectBanner {
	border-radius: 8px;
	overflow: hidden;
	aspect-ratio: 16 / 9;

	& > img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 5px;
		transition: .25s;
	}
}

.projectInfo {
	padding-block: 1.25rem;
	display: flex;
	flex-direction: column;
	gap: .6rem;
}

.projectHeader {
	display: flex;
	flex-direction: row;

	%arrow {
		width: 1rem;
		height: .25rem;
		border-radius: .25rem;
		display: block;
		background-color: white;
	}

	& > span {
		@extend %arrow;
		align-self: center;
		position: relative;
		width: 1.5rem;
		translate: -.5rem 0;
		transition: all .3s, translate .2s, rotate .4s;

		&::before {
			@extend %arrow;
			content: "";
			position: absolute;
			top: -.3rem;
			rotate: 45deg;
			translate: .6rem 0;
			transition: .3s;
		}

		&::after {
			@extend %arrow;
			content: "";
			position: absolute;
			bottom: -.3rem;
			rotate: -45deg;
			translate: .6rem 0;
			transition: .3s;
		}
	}
}

.projectTitle {
	font-family: vars.$button-font;
	flex-grow: 1;
}

.projectDescription {
	flex-grow: 1;

	p {
		font-family: vars.$description-font;
		line-height: 1.6em;
		display: block;
		width: 100px;
		font-size: .95em;
		color: #f1e6ee;
		width: 100%;
	}
}

.projectTags {
	margin-block: -.2rem;
	display: flex;
	flex-wrap: wrap;
	gap: .5rem;

	& > div {
		flex-shrink: 0;

		& > span {
			font-size: .9em;
			color: #f0b1f0;
			font-family: vars.$description-font;
		}
	}
}

.project {
	border-radius: 5px;
	display: flex;
	transition: .2s;

	&:hover, &:active {
		& > .projectBanner > img {
			scale: 1.04;
			opacity: .8;
		}
	}
}

@include vars.desktop {
	.projectBanner {
		width: 20rem;
	}

	.project {
		& > .projectInfo {
			width: 50%;
			flex-grow: 1;
			padding-top: .5rem;
		}

		&:hover, &:active {
			& > .projectBanner > img {
				scale: 1.04;
				opacity: .8;
			}
	
			.projectHeader > span {
				translate: -.75rem 0;
				background-color: transparent;
	
				&::before {
					translate: 1.5rem;
					rotate: 35deg;
					top: -.25rem;
				}
	
				&::after {
					translate: 1.5rem;
					rotate: -35deg;
					bottom: -.25rem;
				}
			}
		}

		@media(max-width: (vars.$responsibilityBreakpoint - 100)) {
			.projectBanner {
				width: 18rem;
			}

			.projectDescription > p {
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 2;
				overflow: hidden;
			}
		}

		&:not(.projectReverse) > .projectInfo {
			padding-left: 2rem;
		}

		&.projectReverse > .projectInfo {
			padding-right: 2rem;
		}

		@media(min-width: (vars.$responsibilityBreakpoint - 100)) {
			.projectDescription > p {
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 3;
				overflow: hidden;
			}
		}
	}

	.projectReverse {
		flex-direction: row-reverse;
	}
}

@include vars.mobile {
	.section {
		padding-inline: vars.$mobilePadding;
	}

	.project {
		flex-direction: column;

		&:hover, &:active {
			.projectHeader > span {
				opacity: .7;
			}
		}
	}

	.projectBanner {
		width: 100%;
		border-radius: 8px 8px 0 0;
	}

	.projectDescription > p {
		position: relative;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 3;
		overflow: hidden;
	}

	.projectInfo {
		padding-inline: 1rem;
		background-color: vars.$surface;
		border-radius: 0 0 8px 8px;
	}

	.projectHeader > span {
		scale: .8;
	}
}