@import "@components/variables";

.logo {
	color: #F057FF;
	text-shadow: 0 0 1px #F057FF;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	transition: .2s;
	
	&:hover {
		scale: .98;
		opacity: .8;
	}
}

.container {
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	height: 5rem;
	justify-content: center;
	padding-inline: 2rem;
	display: flex;
	width: 100%;
	transition: background-color .3s;
	
	&Active {
		background-color: rgba(11, 5, 21, .8);
		backdrop-filter: blur(1px);
	}
	
	.content {
		flex: 1;
		height: 100%;
		max-width: $responsibilityBreakpoint;
		align-items: center;
		display: flex;
	}
}