@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

$primary: #da33ff;
$primarySurface: hsl(290, 100%, 55%);
$light: #F474FF;

$surface: #140A23;
$surfaceSmall: hsl(264, 55%, 13%);
$surfaceActive: #1D112F;

$title: #FFE6FF;
$background: #11071F;