@font-face {
	src: url("../../public/font/Geist-Regular.otf"), url("../../public/font/Geist-Regular.woff2");
	font-family: "GeistRegular";
}

@font-face {
	src: url("../../public/font/Geist-Bold.otf"), url("../../public/font/Geist-Bold.woff2");
	font-family: "GeistBold";
}

// @font-face {
// 	src: url("../../public/font/Geist-Light.otf"), url("../../public/font/Geist-Light.woff2");
// 	font-family: "GeistLight";
// }

@font-face {
	src: url("../../public/font/Geist-Medium.otf"), url("../../public/font/Geist-Medium.woff2");
	font-family: "GeistMedium";
}

@mixin desktop {
	@media (min-width: ($responsibilityBreakpoint - 200)), (orientation: landscape) {
		@content;
	}
}

@mixin mobile {
	@media (max-width: ($responsibilityBreakpoint - 200)) and (orientation: portrait) {
		@content;
	}
}

$subtitle-font: "GeistRegular", sans-serif;
$title-font: "GeistBold", sans-serif;
$description-font: "GeistRegular", sans-serif;
$button-font: "GeistMedium", sans-serif;

$description-color: #eedefa;

$primary: #da33ff;
$primarySurface: hsl(290, 100%, 55%);
$light: #F474FF;

$surface: #140A23;
$surfaceSmall: hsl(264, 55%, 13%);
$surfaceActive: #1D112F;

$title: #FFE6FF;
$background: #11071F;

$responsibilityBreakpoint: 750px;