@import "@components/variables";

.row {
	display: flex;
	gap: 1.4rem;
}

.desktopSeparator {
	margin-block: .125rem;
	height: 2.25rem !important;
}

.title {
	font-family: $button-font;
	width: max-content;
}

.skill {
	aspect-ratio: 1;
	height: 2.25rem;
	object-fit: contain;
	padding: .1rem;
}

.items {
	display: flex;
	gap: 1.6rem;
	flex-wrap: wrap;
}

@include desktop {
	.mobileSeparator {
		display: none;
	}
}

@include mobile {
	.desktopSeparator {
		display: none;
	}

	.header {
		display: flex;
		align-items: center;

		h1 {
			flex-shrink: 0;
			margin-inline: 1em;
		}
	}

	.separator {
		display: none;
	}

	.row {
		padding-inline: $mobilePadding;
		text-align: center;
		flex-direction: column;
		gap: 1.5rem;

		& > h1 {
			width: 100%;
			font-size: 2.1em;
		}
	}

	.items {
		justify-content: center;
		gap: .6rem;
		margin-bottom: .5rem;

		& > .skill {
			border-radius: 5px;
			height: 3rem;
			padding: .55rem;
			background-color: hsl(264, 55%, 13%);
		}
	}
}