@import "@components/variables";

.title {
	font-family: $button-font;
}

.container {
	padding-block: 4rem;
	background-color: rgba(0, 0, 0, .3);
	display: flex;
	justify-content: center;
	padding-inline: 2rem;
}

.content {
	width: 100%;
	max-width: $responsibilityBreakpoint;
}

.groups {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
	margin-bottom: 2.5rem;
	gap: 2rem;
	
	.group {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}
}

.link {
	line-height: 1.6;
	font-family: $description-font;
	transition: .1s;
	
	&:hover {
		text-decoration: underline;
		opacity: .9;
		scale: .99;
	}
}

.social {
	margin-block: .8rem 2rem;
	display: flex;
	gap: 1.2rem;
}

.iconHolder {
	height: 3rem;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.icon {
	width: 2.4rem;
	filter: brightness(0) invert(1);
	transition: .1s;
	
	&:hover {
		opacity: .8;
		scale: .95;
	}
}

.copyright {
	margin-top: 2rem;
	display: block;
	opacity: .9;
	line-height: 1.75;
	font-family: $description-font;
	color: $description-color;

	a:hover {
		text-decoration: underline;
	}
}

@include mobile {
	.container {
		padding-inline: 2.5rem;
	}
}