@import "@components/variables.scss";

.container {
	background-color: #f05bed;
	padding: .8rem 1.4rem;
	border-radius: 5px;
	transition: .1s;
	display: flex;
	gap: 1.35rem;
	align-items: center;
	
	&:active, &:hover {
		opacity: .5;
		scale: .95;
	}
}

.label {
	color: black;
	font-size: 1.2em;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
}

.icon {
	height: 1.8rem;
	width: 1.8rem;
	vertical-align: middle;
	object-fit: cover;
	margin: -1rem;
}